html{
    height: 100%;
}
body{
    height: 100%;
    background-color: #F3F3F3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#root{
    height: 100%;
}
.app-container{
    height: inherit;
}
.app-header{
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.app-header-left{
    display: flex;
    align-items: baseline;
    vertical-align: middle;
}
.web-dev-icon{
    width: 40px;
    height: 38px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e1e1e1;
    margin-right: 10px;
}
.web-dev-icon-header{
    height: 10px;
    background-color: #0b4f6c;
}
.web-dev-icon-body{
    font-size: 16px;
    text-align: center;
    height: 26px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; 
    color: #0b4f6c;
}
.hero-text{
    font-size: 20px;
}
.navbar{
    list-style-type: none;
    display: flex;
    gap: 15px;
}
.nav-item{
    border-right: 1px solid black;
    padding-right: 20px;
    height: 30px;
    display: flex;
    align-items: center;
}
.nav-item:last-child{
    border:none;
}
.app-body{
    height: calc(100% - 60px);
    display: flex;
}
.body-left{
    flex: 1;
    text-align: end;
    padding: 5px;
}
.body-right{
    flex: 1;
    padding: 5px;
}
.profile-image{
    width: 480px;
    height: 480px;
    border-radius: 480px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}